body {
	margin:0;
}

.one {background-image:url(1.jpg);}

.two {background-image:url(2.jpg);}

.three {background-image:url(3.jpg);}

.four {background-image:url(4.jpg);}

.image {
	width:100%;
	margin:0 auto;
	height:100vh;
	background-position: center;
	background-size: cover;
}

.text {
	width:70vw;
	margin:10vh 5vw;
	font-size:4rem;
	line-height:150%;
}

.logo {
	width:211px;
	top:0;
	left:0;
	position:fixed;
	padding:20px;
	transition:background .8s ease;
}

.logo path {
	fill:black;
	transition:all .8s ease
}

.logo.background--dark path {
	fill:white;
	transition:all .8s ease	
}

.logo.background--light path {
	fill:black;
	transition:all .8s ease	
}




  
  

